<ul class="nav nav-pills flex-column pt-4 pb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink='/home' routerLinkActive="active">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/user/list' routerLinkActive="active">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/physical/list' routerLinkActive="active">Physicals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/product/list' routerLinkActive="active">Products</a>
  </li>
</ul>
