<div class="container-fluid p-3">
  <h1 class="pt-3">Multiply window</h1>
  <div class="mt-3">
  </div>
  <div class="row mt-2 flex-nowrap">
    <div class="col-auto bg-light">
      <app-menu></app-menu>
    </div>
    <div class="col">
      <app-window-list></app-window-list>
      <div class="position-relative bg-white p-2">
        <router-outlet></router-outlet>
        <app-non-modal-host></app-non-modal-host>
      </div>
    </div>
    <div class="col-3">
      <app-loger></app-loger>
    </div>
  </div>
</div>
